.product-page-container {
    display: flex;
    justify-content: center;
}

.product-page {
    width: 100%;
    max-width: 22.5rem;
    background-color: var(--white);
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    padding-bottom: 4rem;
  }

.product-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 22.5rem;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
    border-top: 1px solid var(--border-color);
    padding: 0 1rem;

    .nav-item {
        width: 32px;
        height: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: var(--secondary-text-color);
        font-size: 0.75rem;
        font-weight: 700;
        padding-bottom: 0.25rem;
        padding-top: 6px;
        &.active {
          color: var(--primary-color);
        }
      }
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  
  
    .icon-button {
      background: rgba(255, 255, 255, 0.8);
      border: none;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: var(--text-color);
      background: #F6F6F6;
    }
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: #F6F6F6;
    padding-bottom: 0.5rem;
  }
  .dot {
    width: 2.5rem;
    height: 0.1875rem;
    border-radius: 0.125rem;
    background: #E1E5EB;
    display: inline-block;
    cursor: pointer;
  }
  .dot.active {
    background: #075095;
  }

  .product-content {
    padding: 1rem 1rem 0;
  }

  .product-gallery {
    margin: -1rem -1rem 0; 
    .image-container {
      position: relative;
      img {
        width: 100%;
        display: block;
        background: #F6F6F6;
      }
      .promo-badge {
        position: absolute;
        bottom: 1.25rem;
        right: 1rem;
        background-color: var(--orange-color);
        color: var(--white);
        border-radius: 50%;
        width: 4.1875rem;
        height: 4.1875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.625rem;
        font-weight: 500;
        padding: 0.3125rem;
      }
    }
  }
  .product-info {
    padding-top: 1.5rem;
    .product-title {
      font-size: 1.25rem;
      font-weight: 700;
      margin: 0;
    }
    .brand-logo {
      margin: 1rem 0 0.75rem;
      img {
        height: 1.875rem;
      }
    }
    .product-codes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #B3B7BC;
      font-size: 0.875rem;
      p {
        margin: 0;
        padding: 0;
      }
      .product-code-item {
        margin-bottom: 0.625rem;
      }
  
      .product-code, .brand-code {
        color: #01101E;
      }
      .product-code {
        margin: 0.625rem 0;
      }
    
    }
  }

  .product-purchase {
    padding-top: 1.5rem;
    .price-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0 0 0;
      .price {
        font-size: 1.25rem;
        font-weight: 700;
      }
      .bonus {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        color: #50B946;
        font-size: 0.75rem;
        font-weight: 700;
      }
    }
    .stock-info {
      background: #fff;
      border: none;
      box-shadow: none;
      margin-bottom: 1rem;
      margin-top: 1rem;
  
      .stock-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        margin-bottom: 0.625rem;
        position: relative;
      }
      .city {
        font-weight: 700;
        font-size: 0.875rem;
        color: #01101E;
        margin-right: 0.375rem;
      }
      .info-icon {
        font-size: 1rem;
        color: #B3B7BC;
        margin-right: auto;
        margin-left: 0.125rem;
        vertical-align: middle;
        cursor: default;
      }
      .add-to-cart-btn {
        background: #075095;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 0.25rem 1rem 0.25rem 1rem;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        cursor: pointer;
        line-height: 1rem;
      }
      .quantity-selector {
        display: flex;
        align-items: center;
        border: 1px solid #075095;
        border-radius: 8px;
        overflow: hidden;
  
        color: #01101E;
        padding: 0 1rem;
        button.quantity-btn {
          background: none;
          border: none;
          color: #075095;
          height: 2.25rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
        }
        .quantity {
          padding: 0 0.75rem;
          text-align: center;
          font-size: 0.875rem;
          font-weight: 400;
          color: #01101E;
        }
      }
      .stock-details {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        margin-top: 0;
        margin-bottom: 0;
        p {
          margin: 0;
          padding: 0;
        }
        .stock-amount-item, .stock-date-item {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.25rem;
          color: #B3B7BC;
        }
        .stock-amount, .stock-date {
          color: #01101E;
          margin-bottom: 0.125rem;
        }
        .stock-date.in-stock {
          color: #50B946;
        }
        .stock-date.on-request {
          color: #B3B7BC;
        }
      }
    }
    .divider {
      height: 1px;
      background: var(--border-color);;
      width: 100%;
    }
  }

  .product-details {
    background: #fff;
    border-radius: 1rem;
    margin: 0 -1rem 0 -1rem;
    padding: 1.125rem 0.75rem 0 0.75rem;
    box-shadow: none;
  
    .tabs {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 1.125rem;
      border-radius: 0.75rem;
      padding: 0.25rem;
    }
    .tab-btn {
      flex: 1;
      padding: 0.75rem 0;
      border: none;
      background: #E6E7E9;
      border-radius: 0.5rem;
      font-size: 0.875rem;
      font-weight: 500;
      color: #B3B7BC;
      cursor: pointer;
      &.active {
        background: #E6ECF1;
        color: #075095;
      }
    }
    .tab-content {
      padding: 0 0 1.5rem 0;
  
      tbody {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      tr {
        display: flex;
        td {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.25rem;
          color: #01101E;
          width: 50%;
        }
        .codes {
          word-break: break-word;
        }
        .label {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: #B3B7BC;
        }
      } 
  
    }
  }
  