.product-page-container {
    display: flex;
    justify-content: center;
}

.product-page {
    width: 100%;
    max-width: 22.5rem;
    background-color: var(--white);
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    padding-bottom: 4rem;
  }

.product-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 22.5rem;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
    border-top: 1px solid var(--border-color);
    padding: 0 1rem;
}