<div class="product-page-container">
  <div class="product-page">
    <header class="product-header">
      <button class="icon-button">
        <img src="assets/arrow left.png" alt="arrow back image">
      </button>
      <button class="icon-button">
        <img src="assets/heart.png" alt="heart image">
      </button>
    </header>

    <main class="product-content">
      <section class="product-gallery">
        <div class="image-container">
          <img src="assets/product-filter.png" alt="product image">
          <div class="promo-badge">
            <span>Гарантия лучшей цены</span>
          </div>
        </div>
        <div class="swiper-pagination">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </section>

      <section class="product-info">
        <h1 class="product-title">Ключ комбинированный 27мм (Chrome vanadium) на держателе сатинированный 1/10 (ER-31027) ЭВРИКА</h1>
        <div class="brand-logo">
          <img src="assets/product-brand-logo.jpg" alt="product brand logo image">
        </div>
        <div class="product-codes">
          <p class="product-code-item">
            <span>Артикул: </span>
            <span class="product-code">ФТ-305.174</span>
          </p>
          <p class="brand-code-item">
            <span>Код поставщика: </span>
            <span class="brand-code">00000030692</span>
          </p>
        </div>
      </section>

      <section class="product-purchase">
        <div class="price-section">
          <span class="price">15 341,00 ₽</span>
          <div class="bonus">
            <img src="assets/coin.png" alt="coin image">
            <span>+ 20,79 баллов</span>
          </div>
        </div>
        
        <div class="stock-info">
          <div class="stock-header">
            <span class="city">Москва</span>
            <img src="assets/info.png" alt="info image" class="info-icon" title="info" >
            <button class="add-to-cart-btn">
              В корзину <img src="assets/trash.png" alt="trash image">
            </button>
          </div>
          <div class="stock-details">
            <p class="stock-amount-item">
              <span>В наличии: </span>
              <span class="stock-amount">2 шт.</span>
            </p>
            <p class="stock-date-item">
              <span>Дата поставки: </span>
              <span class="stock-date in-stock">22.04.2025</span>
            </p>
          </div>
        </div>
        <div class="divider"></div>
        <div class="stock-info">
          <div class="stock-header">
            <span class="city">Ростов</span>
            <img src="assets/info.png" alt="info image" class="info-icon" title="info" >
            <div class="quantity-selector">
              <button class="quantity-btn"><img src="assets/minus.png" alt="trash image"></button>
              <span class="quantity">1 шт.</span>
              <button class="quantity-btn"><img src="assets/plus.png" alt="trash image"></button>
            </div>
          </div>
          <div class="stock-details">
            <p class="stock-amount-item">
              <span>В наличии: </span>
              <span class="stock-amount">2 шт.</span>
            </p>
            <p class="stock-date-item">
              <span>Дата поставки: </span>
              <span class="stock-date on-request">29.04.2025</span>
            </p>
          </div>
        </div>
        <div class="divider"></div>
      </section>

      <section class="product-details">
        <div class="tabs">
          <button class="tab-btn active">Описание</button>
          <button class="tab-btn">Характеристики</button>
        </div>
        <div class="tab-content">
          <table>
            <tbody>
              <tr>
                <td class="label">Тип ТС</td>
                <td>грузовые автомобили, автобусы, сельхозтехника</td>
              </tr>
              <tr>
                <td class="label">Применяемость</td>
                <td>КАМАЗ, ЛИАЗ, CASE с дв. CUMMINS ISBe/ISDe</td>
              </tr>
              <tr>
                <td class="label">Марка ТС</td>
                <td>КАМАЗ, ЛИАЗ, CASE</td>
              </tr>
              <tr>
                <td class="label">КроссКоды</td>
                <td class="codes">FC6206<br>WK950/3<br>110-16-008<br>6127<br>FF185M<br>1457434180<br>KC28<br>KF3041</td>
              </tr>
              <tr>
                <td class="label">Состав комплекта</td>
                <td>Фильтр очистки топлива: 1 шт.</td>
              </tr>
              <tr>
                <td class="label">Модель двигателя</td>
                <td>Cummins ISB 6.7, Cummins ISB 6.7</td>
              </tr>
              <tr>
                <td class="label">Марка двигателя</td>
                <td>Cummins Inc.</td>
              </tr>
               <tr>
                <td class="label">Доп. информация</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>

    <footer class="product-nav">
      <a href="#" class="nav-item active">
        <img src="assets/catalog.png" alt="catalog image">
        <span>Каталог</span>
      </a>
      <a href="#" class="nav-item">
        <img src="assets/order.png" alt="order image">
        <span>Заказы</span>
      </a>
      <a href="#" class="nav-item">
        <img src="assets/news.png" alt="news image">
        <span>Новости</span>
      </a>
      <a href="#" class="nav-item">
        <img src="assets/trash-navbar.png" alt="trash image">
        <span>Корзина</span>
      </a>
      <a href="#" class="nav-item">
        <img src="assets/profile.png" alt="profile image">
        <span>Профиль</span>
      </a>
    </footer>
  </div>
</div>
